$primary-color: #f65626;
$secondary-color: #fff4e0;
$primary-black-color: #000000;
$primary-white-color: #ffffff;
$disable-color: #94a1a6;

.primaryWhite-bg-color {
  background-color: $primary-white-color;
}

.primary-bg-color {
  background-color: $primary-color;
}

.secondary-bg-color {
  background-color: $secondary-color;
}
