$primary-color: #d71440;
$secondary-color: #d71440;
$primary-bg-color: #f5f8fd;
$secondary-bg-color: #f5f8fd;
$primary-border-color: #d71440;
$secondary-border-color: #fff4e0;
$primary-button-color: #d71440;
$secondary-button-color: #e9f8ff;

$primary-black-color: #000000;
$primary-white-color: #ffffff;
$disable-color: #94a1a6;
$power-on-color: #41c0be;
$error-color: #ff2e2e;
$tertiary-bg-color: #0379b7;
$occupied-bg-color: #ffeeee;

$pending-color: #ff8a00;
$completed-color: #03b78c;

$owner-color: linear-gradient(88.34deg, #d71440 33.59%, #f9a533 131.55%);
$tenant-color: linear-gradient(125.08deg, #f05a22 54.69%, #d71440 96.79%);

.owner-bg-color {
  background: $owner-color !important;
}

.tenant-bg-color {
  background: $tenant-color !important;
}

.primaryWhite-bg-color {
  background-color: $primary-white-color;
}

.primary-bg-color {
  background-color: $primary-color !important;
}

.bg-color {
  background-color: $primary-bg-color !important;
}

.secondary-bg-color {
  background-color: $secondary-bg-color;
}

.primaryWhite-text-color {
  color: $primary-white-color;
}

.tertiary-bg-color {
  background-color: $tertiary-bg-color;
}

.disable-bg-color {
  background-color: #94a1a6;
}

.pending-bg-color {
  background-color: $pending-color;
}

.completed-bg-color {
  background-color: $completed-color;
}

.available-bg-color {
  background-color: $power-on-color;
}

.error-bg-color {
  background-color: $error-color;
}

.occupied-bg-color {
  background-color: $occupied-bg-color;
}

.cancelled-bg-color {
  background-color: $disable-color;
}

.pending-border-color {
  border: 1px solid $pending-color;
  background-color: $primary-white-color;
  color: $pending-color;
}

.critical-border-color {
  border: 1px solid $primary-color;
  background-color: $primary-white-color;
  color: $primary-color;
}

.completed-border-color {
  border: 1px solid $completed-color;
  background-color: $primary-white-color;
  color: $completed-color;
}

.low-border-color {
  border: 1px solid $tertiary-bg-color;
  background-color: $primary-white-color;
  color: $tertiary-bg-color;
}
