$primary-color: #f65626;
$secondary-color: #fff4e0;
$primary-bg-color: #f5f8fd;
$primary-black-color: #000000;
$primary-white-color: #ffffff;
$disable-color: #94a1a6;
$power-on-color: #41c0be;
$error-color: #b71c1c;
$not-available-color: #d9d9d9;
$tertiary-bg-color: #0379b7;
$grey-color: #939ca2;

$pending-color: #ff8a00;
$completed-color: #03b78c;

.primaryWhite-bg-color {
  background-color: $primary-white-color;
}

.primary-bg-color {
  background-color: $primary-color !important;
}

.bg-color {
  background-color: $primary-bg-color !important;
}

.secondary-bg-color {
  background-color: $secondary-color;
}

.tertiary-bg-color {
  background-color: $tertiary-bg-color;
}

.disable-bg-color {
  background-color: #94a1a6;
}

.pending-bg-color {
  background-color: $pending-color;
}

.completed-bg-color {
  background-color: $completed-color;
}
