.font-size-xxsmall {
  font-size: 11px;
}
.font-size-xsmall {
  font-size: 12px;
}
.font-size-small {
  font-size: 13px;
}
.font-size-normal {
  font-size: 14px;
}
.font-size-large {
  font-size: 15px;
}
.font-size-xlarge {
  font-size: 16px;
}
.font-size-xxlarge {
  font-size: 18px;
}
