.btn {
  @apply font-normal border-none global-border-radius;
}

.btn-primary {
  @apply text-white;
}

.btn-white {
  @apply border border-solid border-disable;
  //@apply global-box-shadow;
}

.btn-white:hover {
  //@apply border border-solid border-disable;
  @apply global-box-shadow;
}

.btn-primary-outline {
  @apply border-primary border border-solid text-primary;
}

.btn-primary-outline:hover {
  @apply global-box-shadow;
}

.btn-secondary {
  @apply text-white;
}

.btn-disable {
  @apply text-white;
}

.default-btn:focus-visible,
//.btn-primary:focus-visible,
.disable-btn:focus-visible,
.disable-btn:focus-visible,
.tag-button:focus-visible,
.tag-button-active:focus-visible,
.appointment-cancelled-btn:focus-visible,
.appointment-reschedule-btn:focus-visible,
.appointment-confirmed-btn:focus-visible,
.btn-ghost:focus-visible {
  outline: none;
  outline-offset: unset;
  border: none;
}
