@import "utils/color";

.react-multi-carousel-dot button {
  width: 6px !important;
  height: 6px !important;
  border: 1px solid #d9d9d9;
  background-color: #d9d9d9;
}

.react-multi-carousel-dot--active button {
  background-color: $primary-color !important;
  border: 1px solid $primary-color !important;
  width: 15px !important;
  height: 7px !important;
  border-radius: 20px !important;
}

.owner-invoice-summary .react-multi-carousel-dot button {
  width: 6px !important;
  height: 6px !important;
  border: 1px solid $primary-color;
  background-color: $primary-color;
}

.owner-invoice-summary .react-multi-carousel-dot--active button {
  background-color: $primary-white-color !important;
  border: 1px solid $primary-white-color !important;
  width: 15px !important;
  height: 7px !important;
  border-radius: 20px !important;
}
