@tailwind base;
@tailwind components;
@tailwind utilities;
@import "button.scss";
@import "customText.scss";
@import "input.scss";
@import "select.scss";
@import "toggle.scss";
@import "page/explore.scss";
@import "page/filter.scss";
@import "page/my-stay.scss";
@import "page/account.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /*color: rgb(var(--foreground-rgb));*/
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

//::-webkit-scrollbar {
//  display: none !important;
//}

.pb-23 {
  padding-bottom: 88px;
}

.global-horizontal-padding {
  padding-left: 15px;
  padding-right: 15px;
}

.global-horizontal-margin {
  margin-left: 10px;
  margin-right: 10px;
}

.global-box-shadow {
  box-shadow:
    rgba(0, 0, 0, 0.1) 2px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.global-border-radius {
  border-radius: 10px;
}

.toggle-primary-color {
  background-color: $primary-color !important;
  border: none !important;
}

.toggle-disable-color {
  background-color: $disable-color !important;
  border: none !important;
}

.border-16 {
  border-width: 16px !important;
}

.border-secondary-color {
  border-color: $secondary-color;
}

.text-primary-content {
  color: $primary-color;
}

.divider-line {
  height: 1px;
  width: 100%;
  background-color: #e0ecff !important;
  margin: 25px 0;
}

.section-title {
  @apply font-size-xlarge;
  @apply font-bold;
  @apply pb-2;
}

.body-container {
  @apply pb-24;
  @apply global-horizontal-padding;
}
