.bot-widget-holder {
  max-width: 500px;
  right: unset !important;
  height: calc(100% - 93px) !important;
  box-shadow: unset !important;
}

.bot-widget--without-bubble {
  bottom: unset !important;
}
