.booking-overview-btn {
  min-height: 30px !important;
  height: 40px;
  @apply primary-btn;
}

.step-section-infor-font {
  @apply disable-text text-xs;
}

.step-section-complete-font {
  @apply text-xs tertiary-bg-color global-border-radius text-white px-4 leading-5;
}

.step-section-step-font {
  @apply text-base font-bold py-2;
}

.step-section-pending-font {
  @apply text-xs disable-bg-color global-border-radius text-white px-4 leading-5;
}

.modal-box {
  max-width: 28rem;
  @apply primaryWhite-bg-color;
}

.modal-x-btn {
  @apply btn btn-sm btn-circle btn-ghost absolute right-2 top-2;
}

.modal-title-font {
  @apply font-bold text-base;
}

.modal-font-primary {
  @apply font-bold;
}

.modal-font-secondary {

}

.modal-font-main {
  @apply primary-text font-bold;
}

.modal-sub-font{
  @apply disable-text text-xs
}

.divider-bookingOverview {
  margin: 12px 0;
}

.payment-details-fee {
  @apply flex justify-between items-center flex-wrap pb-2;
}

.divider-step-section {
  &:before,
  &:after {
    height: 1px;
  }
}
