.custom-calendar {
  width: 100% !important;
  box-shadow:
    rgba(0, 0, 0, 0.1) 2px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px !important;
  border-radius: 10px;

  .rmdp-calendar {
    width: 100% !important;
    padding: 10px;

    .rmdp-header {
      padding-bottom: 10px;

      .rmdp-arrow-container {
        height: 25px;
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .rmdp-arrow-container:hover {
        @apply bg-primary !important;
        box-shadow: none !important;
      }

      .rmdp-arrow {
        @apply border-disable;;
        height: 10px;
        width: 10px;
        margin-top: 0;
      }

      .rmdp-arrow:hover {
        @apply border-white;
      }

      .rmdp-header-values {
        span {
          @apply text-base font-bold;
        }
      }
    }

    .rmdp-day-picker > div {
      width: 100% !important;

      .rmdp-week {
        padding-bottom: 5px;

        .rmdp-day {
          height: 40px;
          width: 40px;
        }

        .rmdp-day > span {
          box-shadow: none !important;
          @apply text-base;
        }
      }

      .rmdp-week-day {
        @apply text-disable;;
      }
    }
  }
}

.selected-color-pending {
  @apply text-white bg-tertiary !important;
}

.selected-color-cancelled {
  @apply text-white bg-error !important;
}

.selected-color-confirmed {
  @apply bg-primary text-white !important;
}
