.tenancy-auto-pay-button {
  @apply flex justify-center items-center secondary-bg-color px-2 py-2 global-border-radius;
}

.auto-pay-btn:focus-visible {
  outline: none;
  outline-offset: unset;
  border: none;
}
