@import "../utils/color";
@import "../utils/scaling";
@import "../customText";
.carousel-img{
  height: 300px;
  border-radius: 10px;
}

.dot-btn {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $disable-color;
}

.dot-btn:active, .dot-btn.active{
  background-color: $primary-color ;
}

.map-container{
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

.detail-feature-container{
  @apply global-border-radius global-box-shadow primaryWhite-bg-color p-3 h-full flex-col flex justify-center;
}

.agent-section-container{
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 20px);
  max-width: 470px;
}

.agent-section-icon{
  width: 35px;
  height: 35px;
}