@import "../utils/color";
@import "../utils/scaling";
@import "../customText";
.carousel-img{
  height: 300px;
  border-radius: 10px;
}

.dot-btn {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $disable-color;
}

.dot-btn:active, .dot-btn.active{
  background-color: $primary-color ;
}

.map-container{
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

.detail-feature-container{
  @apply global-border-radius global-box-shadow primaryWhite-bg-color p-3 h-full flex-col flex justify-center;
}
.Recommend-img-container{
  width: 163px;
  height: 150px;
}

.Recommend-img{
  width: 100%;
  height: 100%;
}
