.amenities-container::-webkit-scrollbar {
  display: none !important;
}

.amenities-nav-container {
  @apply amenities-container grid grid-cols-1 gap-5 primaryWhite-bg-color px-3 py-6 global-box-shadow global-border-radius sticky overflow-y-scroll;
}

.tag-container::-webkit-scrollbar {
  display: none !important;
}

.tag-container {
  overflow-x: scroll;
}
