.amenities-container::-webkit-scrollbar {
  display: none !important;
}

.amenities-nav-container {
  @apply amenities-container grid grid-cols-1 gap-5 bg-white px-3 py-6 global-box-shadow sticky overflow-y-scroll;
}

.tag-container::-webkit-scrollbar {
  display: none !important;
}

.tag-container {
  overflow-x: scroll;
}

.join-item {
  @apply bg-white global-box-shadow border-white;

  p {
    @apply text-disable text-xs;
  }
}

.join-item:hover {
  @apply bg-primary border-primary;
  @layer utilities {
    p {
      @apply text-white text-xs;
    }
  }
}

.join .join-item:not(:first-child):not(:last-child) {
  border-radius: 5px;
}

.join-item-active {
  @apply bg-primary text-white border-primary;

  p {
    @apply text-white text-xs;
  }
}

.join-item:focus-visible,
.join-item-active:focus-visible {
  outline: none;
  outline-offset: unset;
  border: none;
}

.price-range-slider {
  margin: 8px 0;

  .range-slider__thumb {
    @apply border-primary border-2 border-solid bg-white !important;
    width: 15px !important;
    height: 15px !important;
  }

  .range-slider__range {
    @apply bg-primary !important;
    height: 6px !important;
  }
}
