@import "../utils/color";

.amenities-container::-webkit-scrollbar {
  display: none !important;
}

.amenities-nav-container {
  @apply amenities-container grid grid-cols-1 gap-5 primaryWhite-bg-color px-3 py-6 global-box-shadow sticky overflow-y-scroll;
}

.tag-container::-webkit-scrollbar {
  display: none !important;
}

.tag-container {
  overflow-x: scroll;
}

.join-item {
  @apply primaryWhite-bg-color global-box-shadow;
  border-color: $primary-white-color;

  p {
    @apply disable-text font-size-xxsmall;
  }
}

.join-item:hover {
  @apply primary-bg-color;
  border-color: $primary-color;

  p {
    @apply white-text font-size-xxsmall;
  }
}

.join .join-item:not(:first-child):not(:last-child) {
  border-radius: 5px;
}

.join-item-active {
  @apply primary-bg-color white-text;
  border-color: $primary-color;

  p {
    @apply white-text font-size-xxsmall;
  }
}

.join-item:focus-visible,
.join-item-active:focus-visible {
  outline: none;
  outline-offset: unset;
  border: none;
}

.price-range-slider {
  margin: 8px 0;

  .range-slider__thumb {
    background: $primary-white-color !important;
    border: 2px $primary-color solid;
    width: 15px !important;
    height: 15px !important;
  }

  .range-slider__range {
    background: $primary-color !important;
    height: 6px !important;
  }
}
